
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;

}

.center{
    margin-left: auto;
    margin-right: auto;
}
.navigation{
    position: relative;
    background-color: #bcbcbd;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}
.navigation a{
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18 px;
}
.navigation a:hover{
    background-color: rgb(109, 0, 60);
    color: black;
}
.navigation a.active{
    background-color: #4f5051;
    color: rgb(25, 0, 255);
}
.nagivation-centered a {
    float: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


body {
    margin-top: 250px;
    font-family: Arial, sans-serif;
    padding-top: 20px;
    background-color: #f4f4f4;
}

.center {
    margin-left: auto;
    margin-right: auto;
}




.button-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px 40px;
    margin-top: 20px;
    text-align: center;
    justify-items: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #00009F;
}


.btn {
    display: block;
    width: 25%;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #9AA6B2;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #D9EAFD;
}


@media (max-width: 768px) {
    .button-container {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}


@media (max-width: 480px) {
    .header {
        padding: 10px 0;
    }

    .button-container {
        padding: 10px 20px;
    }

    .btn {
        font-size: 14px;
        padding: 12px;
    }
}
